<footer class="footer">
  <div class="container-fluid clearfix">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2019 <a href=#" target="_blank">Electronic Study</a>. All rights reserved.</span>

    </span>
  </div>
</footer>